@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2rem];
    @apply md:text-[3rem];
    @apply max-w-[30ch];
    @apply lg:text-[4rem];
    @apply font-normal;
    @apply break-normal;
    @apply leading-[1.2];
  }
  h2 {
    @apply text-[2rem];
    @apply font-bold;
  }
  h3 {
    @apply text-[1.5rem];
    @apply font-bold;
  }
  p {
    @apply text-[1.25rem];
  }
  body.customBlur {
    overflow: hidden;
  }
  body.customBlur #content > *,
  body.customBlur footer > * {
    pointer-events: none;
    user-select: none;
  }
  body.customBlur #content {
    @apply blur;
  }
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --page-x-spacing: 2rem;
  --section-y-spacing: 4rem;
  --subsection-y-spacing: 4rem;
  --card-inner-spacing: 1rem;
}

@media (min-width: 64rem) {
  :root {
    --page-x-spacing: 8rem;
    --section-y-spacing: 8rem;
  }
}
@media (min-width: 26.875rem) {
  :root {
    --card-inner-spacing: 2rem;
  }
}

.page-outer-spacing {
  @apply px-2 sm:px-[--page-x-spacing];
}

@media (prefers-reduced-motion: no-preference) {
  a,
  button {
    @apply transition-all;
  }
  a::after {
    @apply transition-all;
  }
  .scale-when-no-pref {
    @apply hover:scale-105 focus:scale-105;
  }
  .button svg {
    @apply transition-[width];
  }
  aside {
    @apply transition-all ease-in-out;
  }
}

.stickyNav {
  @apply fixed top-0 left-0 bg-secondary_400;
  box-shadow: 0px 20px 34px 0px rgba(9, 4, 19, 0.3);
}

.takeSpace {
  @apply w-full;
  @apply h-32;
  @apply mt-4;
}

.stickyNav > div {
  @apply mt-0;
}

.atProjects {
  @apply bg-secondary_900;
}

.button {
  @apply relative;
}

.button > svg {
  @apply fill-[inherit] overflow-visible relative;
}

/*Prevents button flicker when hovering at the right edge.*/

.button:hover svg,
.button:focus svg {
  @apply w-0;
}

.menuBtn {
  --size: 4rem;
  --duration: 250ms;
  width: var(--size);
  height: var(--size);
  background: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(0deg);
  transition: var(--duration) * 2 ease-in-out;
  position: relative;
}

.menuBtn > span {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 1;
  height: calc(var(--size) / 4);
  transform: rotate(0deg);
  transition: var(--duration) ease-in-out;
  background: #eeeaf9;
  border-radius: 0.2rem;
}
.menuBtn span:nth-child(1) {
  top: 0px;
}

.menuBtn span:nth-child(2) {
  top: calc(var(--size) / 4 + var(--size) / 8);
}

.menuBtn span:nth-child(3) {
  top: calc(var(--size) / 2 + var(--size) / 4);
}

.menuBtn.opened span:nth-child(1) {
  top: calc(var(--size) / 4 + var(--size) / 8);
  transform: rotate(135deg);
}

.menuBtn.opened span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menuBtn.opened span:nth-child(3) {
  top: calc(var(--size) / 4 + var(--size) / 8);
  transform: rotate(-135deg);
}

@keyframes scroll {
  0% {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
/*Credit to Deepak K Vijayan https://codepen.io/2xsamurai/pen/WwmjKQ */
.scroller {
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
/*End of credit */
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  @apply text-white;
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 8rem;
}

body {
  padding: 0;
  line-height: inherit;
  margin: auto;
}
