@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[4rem];
    @apply w-[30ch];
    @apply font-normal;
  }
  h2 {
    @apply text-[2rem];
    @apply mb-16;
    @apply font-bold;
  }
  h3 {
    @apply text-[1.5rem];
    @apply font-bold;
  }
  p {
    @apply text-[1.25rem];
  }
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  src: url("/fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

:root {
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  line-height: inherit;
  margin: auto;
}
